In [7]:
import joblib

import keras.models as km
import pandas as pd

In [8]:
NUM_COLS = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine']

In [9]:
# Đọc dữ liệu từ tập tin CSV
df = pd.read_csv('lottery.csv')
df

            Date  Zero  One  Two  Three  Four  Five  Six  Seven  Eight  Nine
0     2005-01-01     8    7   10     11    16     9   14     11     11    10
1     2005-01-02    10    9   13     11     6    14   11      8     10    15
2     2005-01-03     9   13   10     11    10     5   13      8     17    11
3     2005-01-04     4   10   10     15    10    12   13      9     12    12
4     2005-01-05     9   13   10     11     9    15   15     10      6     9
...          ...   ...  ...  ...    ...   ...   ...  ...    ...    ...   ...
6985  2024-02-16     8    7    9     11    10    14   16      7     13    12
6986  2024-02-17     6   10   15      8    12    12   12     11     11    10
6987  2024-02-18    12   11    7      9    14     8   10      9      8    19
6988  2024-02-19    13   12   16      7    12    16    6      5      9    11
6989  2024-02-20    13    9   10     14     8    10   10     14     10     9

[6990 rows x 11 columns]

In [10]:
# Nhập ngày cần lấy dữ liệu
ngay = '2024-02-20'

In [11]:
# Tạo dictionary giữa các cột từ zero đến nine và dự đoán tương ứng
predictions_dict = {col_name: prediction for col_name, prediction in zip(NUM_COLS, km.load_model('lottery.keras').predict(joblib.load('scaler.gz').transform(df.loc[df['Date'] == ngay, 'Zero':'Nine'].values).reshape(-1, 1, 10))[0])}
predictions_dict

1/1 [==============================] - 0s 247ms/step

{'Zero': 13.0759115,
 'One': 8.913889,
 'Two': 10.03116,
 'Three': 14.099541,
 'Four': 7.9368243,
 'Five': 9.974471,
 'Six': 9.978813,
 'Seven': 14.139644,
 'Eight': 10.073582,
 'Nine': 8.873889}

In [12]:
# Kết quả dự đoán cao nhất và thấp nhất
predictions_items = predictions_dict.items()
print(f'''Cặp số có giá trị dự đoán cao nhất: {dict(sorted(predictions_items, key=lambda x: x[1], reverse=True)[:2])}
Cặp số có giá trị dự đoán thấp nhất: {dict(sorted(predictions_items, key=lambda x: x[1])[:2])}''')

Cặp số có giá trị dự đoán cao nhất: {'Seven': 14.139644, 'Three': 14.099541}
Cặp số có giá trị dự đoán thấp nhất: {'Four': 7.9368243, 'Nine': 8.873889}